body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.app-background {
    background-color: #041F59;
    height: 100vh;
}

.app-admin-card {
    height: 450px;
    width: 400px;
}

#app-header {
    background-color: #041F59;
    height: 60px;
    width: 100vw;
    padding-left: 10px;
}

#app-footer {
    border-top: solid grey 1px;
    padding: 8px;
    margin-top: 36px;
}

#app-header-logout-button {
    margin-right: 16px;
}

#app-navigation {
    border: solid grey 1px;
    height: 80vh;
}

#app-navigation-site-section {
    background-color: lightgrey;
    height: 40px;
    border-bottom: solid grey 1px;
}

#app-navigation-site-button {
    margin-left: 6px;
    height: 24px;
}